       * { font-family:Arial, Helvetica, sans-serif}
            #fileinput {
                width: 500px;
                height: 300px;
                position: fixed;
                left: 30%;
                top: 30%;
                border: 1px solid rebeccapurple;
                background-color:lightgray;
            }
            #clustermessage{
                position: relative;
                left: 5%;
                top: 4%;
                font-size:larger; 
            }
            #clust{
                position: relative;
                left: 5%;
                top: 1%; 
            }
            #filemessage{
                position: relative;
                left: 5%;
                top: 4%; 
                font-size:larger; 
            }
            #filemes{
                position: relative;
                left: 5%;
                top: 1%; 
            }
            #image{
                position: relative;
                left: 5%;
                top: 5%;
                text-align: center;
                display: none;
            }
            #rimage{
                position: relative;
                left: 5%;
                top: 5%;
                display: none;
            } 
            #palette{
                position: relative;
                left: 5%;
                top: 25px;
                display: none;
                /* width: -webkit-calc(100% - 600px);
                width:    -moz-calc(100% - 400px); */
                width:         calc(100% - 300px);
                height: 300px;
            }
            #reloadbutton{
                position: relative;
                left: 5%;
                top: 50px;
                display: none;
                width: 300px;
                height: 50px;
            }
            .colorblock{
                float: left;   
                font-size: 10px;
            }

            
